.App {
  text-align: center;
}

.AppBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  /* z-index: -1; */
}

.AppBar .Buttons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 0.5rem;
}

.AppBar .Options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.OptionText {
  white-space: pre-line;
}

.SliderMenu {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding: 0.2rem 1rem;
}

#algo {
  display: flex;
  height: auto;
  width: 4rem;
  padding: 0.2rem;
}

#github {
  display: flex;
  height: auto;
  width: 2.5rem;
  padding: 0.2rem;
}
